html {
  background-color: yellowgreen;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 40px;
}

.container_base {
  background-image: url(../IMG/Snake.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 750px;
  height: 550px;
  border-radius: 35px;
  border: 5px solid black;
  box-shadow: 25px 25px 50px rgb(20, 93, 20), -25px -25px 50px rgb(20, 93, 20);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marcador {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: yellow;
  border-radius: 35px;
  text-align: center;
  justify-content: center;
  border: 3px solid black;
}

#container_game{
  background-image: url(../IMG/cesped.jpg);
  margin-top: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  position: relative;
  width: 400px;
  height: 400px;
}


.button_container {
  margin-top: 30px;
  margin-bottom: 15px;
}

#botonJugar,
#botonReiniciar {
  background-color: orange;
  border-radius: 35px;
  border: 3px solid black;
  width: 85px;
  height: 30px;
  text-align: center;
}
